@import "tailwindcss";

@theme {
  /* En v4, las variables deben estar AQUÍ para existir como clases bg- o text- */
  --color-brand-bg: #F9F9F7;
  --color-brand-dark: #2D2D2D;
  --color-brand-gold: #C5A059;
  --color-brand-red: #9E4747;
  --color-brand-blue: #8C97AE;
  --color-brand-blue-bg: #8c97ae8c;
  --color-brand-dark-blue: #00719dff;

  --color-background: var(--color-brand-bg);
  --color-foreground: var(--color-brand-dark);
}

/* Eliminamos la regla body { background: var(--background); } que forzaba el blanco */
body {
  font-family: Arial, Helvetica, sans-serif;
}