@import "tailwindcss";

:root {
  --background: #F9F9F7;
  --foreground: #2D2D2D;
  --color-brand-bg: #F9F9F7;
  --color-brand-dark: #2D2D2D;
  --color-brand-gold: #C5A059;
  --color-brand-red: #9E4747;
  --color-brand-blue: #8C97AE;
  --color-brand-blue-bg: #8c97ae8c;
  --color-brand-dark-blue: #00719dff;
  --font-sans: var(--font-sans);
  --font-serif: var(--font-serif);
  --font-texto: var(--font-texto);
}

@theme inline {
  /* Registro de Colores */
  --color-brand-bg: var(--color-brand-bg);
  --color-brand-dark: var(--color-brand-dark);
  --color-brand-gold: var(--color-brand-gold);
  --color-brand-red: var(--color-brand-red);
  --color-brand-blue: var(--color-brand-blue);
  --color-brand-blue-bg: var(--color-brand-blue-bg);
  --color-brand-dark-blue: var(--color-brand-dark-blue);

  /* Registro de Tipografías para generar clases font-* */
  --font-serif: "Playfair Display", serif;
  --font-sans: "Lato", sans-serif;
  --font-poiret: "Poiret One", cursive;
  --font-texto: "Quicksand", sans-serif;
}

body {
  background: var(--color-brand-bg);
  color: var(--foreground);
  /* Aplicamos Lato como fuente base por defecto */
  font-family: var(--font-sans), sans-serif;
  margin: 0;
}

.font-texto {
  font-family: var(--font-texto), serif;
}

.font-serif {
  font-family: var(--font-serif), serif;
}